@use '../helpers' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
  min-height: var(--header-height);

  &__logo {
    @include mobile {
      width: 100px;
      height: 20px;
    }
  }

  &__menu {
    margin-left: auto;

    &-list {
      display: flex;
      column-gap: 48px;
    }
  }

  &__actions {
    display: flex;
    column-gap: 24px;
  }
}