@use '../helpers' as *;

.section--virtual-tour {
  --section-title-rectangle: url('../../images/virtual-tour/title-rectangle.jpg');
}

.virtual-tour {
  &__video {
    border-radius: var(--border-radius-large);

    @include mobile {
      height: 320px;
      object-fit: cover;
      border-radius: var(--border-radius-small);
    }

    &-wrapper {
      position: relative;
    }

    &-play-button {
      @include reset-button;
      @include abs-center;

      position: absolute;

      @include hover {
        opacity: 0.8;
      }

      @include mobile {
        width: 64px;
      }
    }
  }
}